<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgMiYesNUJ72cSalfbFyJxan3X_ZE7bRQ</string>
	<key>GCM_SENDER_ID</key>
	<string>191951408855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>plamen.MPRestaurantReviewApp</string>
	<key>PROJECT_ID</key>
	<string>mprestaurantreviewerapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mprestaurantreviewerapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191951408855:ios:bd1b764e2c4680ebdd2a92</string>
</dict>
</plist>